<div class="ptvl">
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-file-upload">
                <input type="file"  on-read-file="showContent($fileContent)" name="files[]" multiple/>
                <i class="fa fa-cloud-upload btn btn-primary">Select settings2</i>
            </label>
            <output id="list"></output>
        </div>
        <div class="col-sm-6">
            <div class="input-group input-group-lg search-box">
                <input type="text" ng-model="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="goSearch()">Go!</button>
            </span>
            </div>
        </div>
    </div>

    <div class="row">
        <ul accordion close-others="oneAtATime" ui-sortable="sortableOptions" ng-model="sortedChannels">
            <li accordion-group ng-repeat="channel in sortedChannels track by $index | filter:search" ng-show="channel.Channel > 0" ng-click="getSettings(channel)">
                <accordion-heading>
                    <div class="handle btn btn-primary" ng-click="updateSort(channel.Channel)"><i class="glyphicon glyphicon-move"></i></div>
                    <div class="col-sm-6">
                        Channel: {{channel.Channel}}
                    </div>
                    <div class="col-sm-4">
                        Name: {{channel.SubRules[1].value}}
                    </div>
                </accordion-heading>
                <form>
                    <!--Playlist ChannelType 0 Div-->
                    <div ng-show="channelType.value == 0"
                         ng-include="'/app/components/ptvl/templates/chType/playlistType.html'">
                    </div>
                    <!-- TV Network ChannelType 1 Div-->
                    <div ng-show="channelType.value == 1"
                         ng-include="'app/components/ptvl/templates/chType/tvnetworkType.html'">
                    </div>
                    <!-- Movie Studio ChannelType 2 Div -->
                    <div ng-show="channelType.value == 2"
                         ng-include="'app/components/ptvl/templates/chType/movieStudioType.html'">
                    </div>
                    <!-- TV Genre ChannelType 3 Div -->
                    <div ng-show="channelType.value == 3"
                         ng-include="'app/components/ptvl/templates/chType/tvGenreType.html'">
                    </div>
                    <!-- Movie Genre ChannelType 4 Div -->
                    <div ng-show="channelType.value == 4"
                         ng-include="'app/components/ptvl/templates/chType/movieGenreType.html'">
                    </div>
                    <!-- Mixed Genre (Movie and Tv) ChannelType 5 Div -->
                    <div ng-show="channelType.value == 5"
                         ng-include="'app/components/ptvl/templates/chType/mixedgenreType.html'">
                    </div>
                    <!-- TV Show ChannelType 6 Div -->
                    <div ng-show="channelType.value == 6"
                         ng-include="'app/components/ptvl/templates/chType/tvShowType.html'">
                    </div>
                    <!-- Directory ChannelType 7 Div -->
                    <div ng-show="channelType.value == 7"
                         ng-include="'app/components/ptvl/templates/chType/directoryType.html'">
                    </div>
                    <!-- LiveTv ChannelType 8 Div -->
                    <div ng-show="channelType.value == 8"
                         ng-include="'app/components/ptvl/templates/chType/liveTvType.html'">
                    </div>
                    <!-- InternetTv ChannelType 9 Div -->
                    <div ng-show="channelType.value == 9"
                         ng-include="'app/components/ptvl/templates/chType/internetTvType.html'">
                    </div>
                    <!-- Youtube ChannelType 10 Div -->
                    <div ng-show="channelType.value == 10"
                         ng-include="'app/components/ptvl/templates/chType/youTubeType.html'">
                    </div>
                    <!-- RSS Feed ChannelType 11 Div -->
                    <div ng-show="channelType.value == 11"
                         ng-include="'app/components/ptvl/templates/chType/rssFeedType.html'">
                    </div>
                    <!-- Music ChannelType 12 Div -->
                    <div ng-show="channelType.value == 12"
                         ng-include="'app/components/ptvl/templates/chType/musicType.html'">
                    </div>
                    <!-- Music Videos ChannelType 13 Div -->
                    <div ng-show="channelType.value == 13"
                         ng-include="'app/components/ptvl/templates/chType/musicVideoType.html'">
                    </div>
                    <!-- Extras ChannelType 14 Div -->
                    <div ng-show="channelType.value == 14"
                         ng-include="'app/components/ptvl/templates/chType/extrasType.html'">
                    </div>
                    <!-- Plugin ChannelType 15 Div -->
                    <div ng-show="channelType.value == 15"
                         ng-include="'app/components/ptvl/templates/chType/pluginType.html'">
                    </div>
                    <!-- Playon ChannelType 16 Div -->
                    <div ng-show="channelType.value == 16"
                         ng-include="'app/components/ptvl/templates/chType/playonType.html'">
                    </div>
                </form>
            </li>
        </ul>
        <div ng-show="channelsLoaded">
            <button ng-click="CreateXMLDoc()" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</div>


