<div class="ptvl">
    <div class="row">
        <div class="col-sm-6">
            <accordion>
                <accordion-group>
                    <accordion-heading ng-click="readPtvl = !readPtvl">
                        Load Channels
                    </accordion-heading>
                    <input type="file" on-read-file="showContent($fileContent)" name="files[]" multiple />
                    <output id="list"></output>
                    <accordion>
                        <accordion-group is-open="channelDetails.open">
                            <accordion-heading>
                                Channels
                            </accordion-heading>
                            <accordion>
                                <accordion-group ng-repeat="channel in newChannels | orderBy: channel.Channel" ng-show="channel.Channel > 0" ng-click="getSettings(channel)">
                                    <accordion-heading>
                                        Channel: {{channel.Channel}}
                                    </accordion-heading>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Channel Type: {{channelType}}
                                                </div>
                                                <div class="col-sm-6">
                                                    Channel Path:
                                                    <input type="text" name="channelPath" placeholder="{{channelPath}}">
                                                </div>
                                            </div>
                                        </form>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-sm-6" >
            <accordion ng-hide="readPtvl">
                <accordion-group is-open="ptvlDetails.open">
                    <accordion-heading>
                        {{settings.name}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ptvlDetails.open, 'glyphicon-chevron-right': !ptvlDetails.open}"></i>
                    </accordion-heading>
                    <h4>{{settings.description}}</h4>
                    <div class="col-sm-2">
                        <h5>Author: {{settings.author}}</h5>
                        <h5>Version: {{settings.version}}</h5>
                    </div>
                    <div class="col-sm-10">
                        <accordion>
                            <accordion-group>
                                <accordion-heading>
                                    Dependencies
                                </accordion-heading>
                                <li ng-repeat="dependency in settings.dependencies">
                                    {{dependency.addonid}} is required: {{dependency.required}} @ version {{dependency.version}}
                                </li>
                            </accordion-group>
                        </accordion>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div>
        &lt;settings&gt;
        <div ng-repeat="channel in newChannels" ng-show="channel.Channel > 0">
            &lt;setting id=&quot;Channel_{{channel.Channel}}_type&quot; value=&quot;{{channel.Settings[0]._value}}&quot; &#x2F;&gt;
            <br>
            &lt;setting id=&quot;Channel_{{channel.Channel}}_1&quot; value=&quot;{{channel.Settings[1]._value}}&quot; &#x2F;&gt;
            <br>
            &lt;setting id=&quot;Channel_{{channel.Channel}}_rulecount&quot; value=&quot;{{channel.Settings[2]._value}}&quot; &#x2F;&gt;
            <br>
            &lt;setting id=&quot;Channel_{{channel.Channel}}_rule_1_id&quot; value=&quot;{{channel.Settings[3]._value}}&quot; &#x2F;&gt;
            <br>
            &lt;setting id=&quot;Channel_{{channel.Channel}}_rule_1_opt_1&quot; value=&quot;{{channel.Settings[4]._value}}&quot; &#x2F;&gt;
        </div>
        &lt;&#x2F;settings&gt;
    </div>

</div>
