<div class="row">
    <div class="col-sm-1 ch-type-label">
        Type:
    </div>
    <div class="col-sm-3 ch-type-dropdown">
        <ui-select ng-model="selectedType.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 202px;">
            <ui-select-match placeholder="{{channelType.type}}">{{$select.selected.type}}</ui-select-match>
            <ui-select-choices repeat="type in types">
                <div ng-bind-html="type.type" ng-click="changeType(channel, type)"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>