<div class="row">
    <div class="col-sm-1 ch-type-label">
        Type:
    </div>
    <div class="col-sm-3 ch-type-dropdown">
        <ui-select ng-model="selectedType.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 202px;">
            <ui-select-match placeholder="{{channelType.type}}">{{$select.selected.type}}</ui-select-match>
            <ui-select-choices repeat="type in types">
                <div ng-bind-html="type.type" ng-click="changeType(channel, type)"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-1 ch-plugin-type-label" >
        Plugin:
    </div>
    <div class="col-sm-3 ch-plugin-type-dropdown">
        <ui-select ng-model="selectedPlugin.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 250px;">
            <ui-select-match placeholder="{{channelPlugin}}">{{$select.selected.addonid}}</ui-select-match>
            <ui-select-choices repeat="plugin in plugins">
                <div ng-bind-html="plugin.addonid" ng-click="changePlugin(channel, plugin.addonid)"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-sm-1 ch-path-label">
        Folder:
    </div>
    <div class="col-sm-8 ch-path-input">
        <input type="text" name="channelPath" ng-model="channelPluginPath" style="width: 100%">
    </div>
    <div class="col-sm-2">
        <button id="plugin-path-update" class="btn btn-primary" ng-click="changePluginPath(channel, channelPluginPath)">Update</button>
    </div>
</div>