<div class="row">
    <div class="col-sm-1 ch-type-label">
        Type:
    </div>
    <div class="col-sm-3 ch-type-dropdown">
        <ui-select ng-model="selectedType.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
            <ui-select-match placeholder="{{channelType.type}}">{{$select.selected.type}}</ui-select-match>
            <ui-select-choices repeat="type in types">
                <div ng-bind-html="type.type" ng-click="changeType(channel, type)"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-1 ch-youtube-type-label" >
        YouTube Type:
    </div>
    <div class="col-sm-3 ch-youtube-type-dropdown">
        <ui-select ng-model="selectedYtType.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
            <ui-select-match placeholder="{{channelYtType.type}}">{{$select.selected.type}}</ui-select-match>
            <ui-select-choices repeat="ytType in ytTypes">
                <div ng-bind-html="ytType.type" ng-click="changeYtType(channel, ytType)"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-1 ch-path-label">
        Input:
    </div>
    <div class="col-sm-3 ch-path-input">
        <input type="text" name="channelPath" ng-model="channel.MainRules[1].value" style="width: auto;">
    </div>
</div>