<nav class="navbar navbar-inverse" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Kodi & PTVL Manager</a>
    </div>
    <div ng-controller="DropdownCtrl">
    <!-- Single button -->
        <div class="btn-group navbar-btn" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-click="">
                Movies <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/movies" ng-click="">List</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</nav>
