.btn-navbar {
    margin-right: 5px;
}

#movieList {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#moviethumb {
    max-width: 100%;
    max-height: 100%;
}

.movie-thumbnail {
    height: 460px;
    width: 296px;
}

.checkbox {
    margin-right: 0;
    margin-left: 25px;
}

#trailer {
    max-width: 100%;
    max-height: 100%;
}

#showList {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tvshowthumb {
    max-width: 100%;
    max-height: 100%;
}

.ptvl {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ch-type-label {
    margin: 8px 0 0 10px;
    width: 58px;
}

.ch-type-dropdown {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.ch-path-label {
    margin: 8px 4px 0 10px;
    width: 60px;
}

.ch-path-input {
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
}

.youtube-type {
    margin-top: 10px;
}

.ch-plugin-type-label {
    margin: 8px 0 0 10px;
    width: 58px;
}

.ch-plugin-type-dropdown {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#plugin-path-update {
    margin-top: 2px;
    padding: 0 0 0 0;
    height: 30px;
    text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 0 0 0 0;
    cursor: pointer;
    height: 100%;
    text-align: justify;
    vertical-align: middle;
    font-size: 20px;
}

#home-movies-btn {
    margin: 0 0 15px 0;
    height: 56px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
 }

#home-television-btn {
    margin: 0 0 15px 0;
    height: 56px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

#home-ptvl-btn {
    height: 56px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

#home-about-btn {
    height: 56px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.panel-default>.panel-heading {
    background-image: linear-gradient(to bottom,#3073AD 0,#286090 100%);
}

.panel-default>.panel-heading {
    color: #ffffff;
}

.btn-primary {
    background-color: #1772B1;
}

.btn-primary:hover {
    background-color: #1772B1;
    background-position: 0 -15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

.panel-title:focus {
    border: 0px;
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: unset;
    outline-style: none;
    outline-width: 0px;
}

.type {
    padding-bottom: 10px;
    border-color: black;
}