.btn-navbar {
    margin-right: 5px;
}

#movieList {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#moviethumb {
    max-width: 100%;
    max-height: 100%;
}

.movie-thumbnail {
    height: 460px;
    width: 296px;
}

.checkbox {
    margin-right: 0;
    margin-left: 25px;
}

#trailer {
    max-width: 100%;
    max-height: 100%;
}

#showList {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tvshowthumb {
    max-width: 100%;
    max-height: 100%;
}

.ptvl {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}